.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #001942;
  color: #e4e4e5;
}
.container h1 {
  font-size: 42px;
}
